.plan-card {
    height: fit-content;
    border-radius: 0.625rem;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 15rem;

    &--white {
        background-color: white;
    }

    &--purple {
        background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: hsl(240, 78%, 98%);

        .text {
            color: hsl(240, 78%, 98%);
        }
    }

    .heading {
        margin: 0 0 1.25rem 0;
    }

    &__title {
        margin-top: 0;
    }

    &__price {
        display: flex;
        align-items: center;

        &:before {
            content: '$';
            display: inline;
            font-size: 1.875rem;
            margin-right: 0.313rem;
        }
    }

    &__features {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1.875rem;

        tr {
            border-top: 0.063rem solid hsl(234, 14%, 74%);
            text-align: center;
        }

        tr:last-child { 
            border-bottom: 0.063rem solid hsl(234, 14%, 74%);
        }
    }
}