.button {
    min-width: 12.5rem;
    height: 3rem;
    padding: 0 3rem;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;

    &--primary {
        background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

        &:hover,
        &:active {
            background: hsl(240, 78%, 98%);
            color: hsl(237, 63%, 64%);
            outline: 0.063rem solid hsl(237, 63%, 64%);
        }
    }

    &--secondary {
        background-color: hsl(240, 78%, 98%);
        color: hsl(237, 63%, 64%);

        &:hover,
        &:active {
            background-color: hsl(237, 63%, 64%);
            color: hsl(240, 78%, 98%);
            outline: 0.063rem solid hsl(240, 78%, 98%);
        }
    }
}