@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

body {
  font-family: Montserrat, sans-serif;
}

#root {
  max-width: 80rem;
  text-align: center;
}

.app-wrapper {
  width: 100vw;
  margin: 2.5rem 0;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/bg-top.svg) 50% / cover no-repeat;
}