@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

body {
  font-family: Montserrat, sans-serif;
}

#root {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.pricing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/bg-top.svg) 50% / cover no-repeat;
}