@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

#root {
    min-height: 100vh;
    display: flex;
}

.pricing {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background: url(./assets/images/bg-top.svg) top right no-repeat,
                url(./assets/images/bg-bottom.svg) bottom left no-repeat;

    .toggle-switch__wrapper {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    &__plans {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin: 2.5rem 0;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 0;

            .plan-card--purple {
                position: relative;
                top: -1.25rem;
                padding: 3.125rem 1.875rem 3.125rem 1.875rem;
            }
        }
    }
}